@font-face {
    font-family: 'Rubik Regular';
    src: url('../fonts/Rubik Regular/Rubik-Regular.eot');
    src: url('../fonts/Rubik Regular/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik Regular/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik Regular/Rubik-Regular.woff') format('woff'),
        url('../fonts/Rubik Regular/Rubik-Regular.ttf') format('truetype'),
        url('../fonts/Rubik Regular/Rubik-Regular.svg#Rubik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik Bold';
    src: url('../fonts/Rubik Bold/Rubik-Bold.eot');
    src: url('../fonts/Rubik Bold/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik Bold/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik Bold/Rubik-Bold.woff') format('woff'),
        url('../fonts/Rubik Bold/Rubik-Bold.ttf') format('truetype'),
        url('../fonts/Rubik Bold/Rubik-Bold.svg#Rubik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik Black';
    src: url('../fonts/Rubik Black/Rubik-Black.eot');
    src: url('../fonts/Rubik Black/Rubik-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik Black/Rubik-Black.woff2') format('woff2'),
        url('../fonts/Rubik Black/Rubik-Black.woff') format('woff'),
        url('../fonts/Rubik Black/Rubik-Black.ttf') format('truetype'),
        url('../fonts/Rubik Black/Rubik-Black.svg#Rubik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/Open Sans Regular/OpenSans.eot');
    src: url('../fonts/Open Sans Regular/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open Sans Regular/OpenSans.woff2') format('woff2'),
        url('../fonts/Open Sans Regular/OpenSans.woff') format('woff'),
        url('../fonts/Open Sans Regular/OpenSans.ttf') format('truetype'),
        url('../fonts/Open Sans Regular/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/Font Awesome/FontAwesome.eot');
    src: url('../fonts/Font Awesome/FontAwesome.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Font Awesome/FontAwesome.woff2') format('woff2'),
        url('../fonts/Font Awesome/FontAwesome.woff') format('woff'),
        url('../fonts/Font Awesome/FontAwesome.ttf') format('truetype'),
        url('../fonts/Font Awesome/FontAwesome.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik Medium';
    src: url('../fonts/Rubik Medium/Rubik-Medium.eot');
    src: url('../fonts/Rubik Medium/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik Medium/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik Medium/Rubik-Medium.woff') format('woff'),
        url('../fonts/Rubik Medium/Rubik-Medium.ttf') format('truetype'),
        url('../fonts/Rubik Medium/Rubik-Medium.svg#Rubik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url('../fonts/Roboto Condensed Regular/RobotoCondensed-Regular.eot');
    src: url('../fonts/Roboto Condensed Regular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto Condensed Regular/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/Roboto Condensed Regular/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/Roboto Condensed Regular/RobotoCondensed-Regular.ttf') format('truetype'),
        url('../fonts/Roboto Condensed Regular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

