// colors
$mainFontColor: #fff;
$red: #ff0000;
$orangeText: #d65900;
$userProgressBarBG: #605b56;


// font families
$RubikRegular: 'Rubik Regular';
$RubikBold: 'Rubik Bold';
$RubikBlack: 'Rubik Black';
$RubikMedium: 'Rubik Medium';
$OpenSansRegular: 'Open Sans Regular';
$FontAwesome: 'FontAwesome';