@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Black.eot');
    src: url('Rubik-Black.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Black.woff2') format('woff2'),
        url('Rubik-Black.woff') format('woff'),
        url('Rubik-Black.ttf') format('truetype'),
        url('Rubik-Black.svg#Rubik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

